<div class="card mx-auto" style="width: 400px; break-inside: avoid">
    <div class="card-header d-flex justify-content-between">
        {{#if this.linkTitle}}
        <LinkTo @route="classifieds-ad" @model={{this.model.id}}>
            <h5 class="m-0 lh-base">{{this.model.title}}</h5>
        </LinkTo>
        {{else}}
        <h5 class="m-0 lh-base">{{this.model.title}}</h5>
        {{/if}}

        <LinkTo @route="char" @model={{this.model.author.name}}>
            <CharIconTiny @char={{this.model.author.name}}/>
        </LinkTo>
    </div>
    <div class="card-body">
        <p class="card-text">{{this.model.text}}</p>
    </div>
    <div class="card-footer">
        <div class="d-flex">
        {{#each this.model.tags as |tag|}}
            <LinkTo class="badge rounded-pill bg-info card-link" @route="wiki-tag" @model={{tag}}>{{tag}}</LinkTo>
        {{/each}}
        </div>
    </div>
</div>