{{#if this.char.custom.showDatingProfile}}
<div id="dateprof-dateprof" class="tab-pane fade">
    {{{ansi-format text=char.custom.dateprof}}}
    {{#if this.canSwipe}}
    <div class="action-buttons">
      <button {{action "swipe" char.name "interested"}} class="btn btn-secondary">Interested</button>
      <button {{action "swipe" char.name "curious"}} class="btn btn-secondary">Curious</button>
      <button {{action "swipe" char.name "skip"}} class="btn btn-secondary">Skip</button>
      <button {{action "swipe" char.name "missed_connection"}} class="btn btn-secondary">Missed Connection</button>
    </div>
    {{/if}}
</div>
{{/if}}
