{{page-title 'The App'}}
<h1>The App</h1>

<div class="action-buttons">
  <div class="dating-char-select">
    <PowerSelect @selected={{this.model.dater}} @options={{this.model.dating_alts}} @searchField="name" @onChange={{action "daterChanged"}} as |dater|>
      <CharIconTiny @char={{dater}} />
    </PowerSelect>
  </div>
  {{#if this.model.hide_alts}}
  <button {{action "showOrHideAlts" "show"}} class="btn btn-secondary">Show Alts</button>
  {{else}}
  <button {{action "showOrHideAlts" "hide"}} class="btn btn-secondary">Hide Alts</button>
  {{/if}}
</div>

<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item"><a data-bs-toggle="tab" class="nav-link {{if this.model.profile 'active'}}" href="#swiping">Swiping</a></li>
  <li class="nav-item"><a data-bs-toggle="tab" class="nav-link {{unless this.model.profile 'active'}}" href="#matches">Matches</a></li>
  <li class="nav-item"><a data-bs-toggle="tab" class="nav-link" href="#swipes">Swipes</a></li>
</ul>

<div class="tab-content">
  <div id="swiping" class="tab-pane fade show {{if this.model.profile 'active'}}">
    {{#if this.model.profile}}
    <h2 class="dating-name">{{this.model.profile.name}}</h2>
    <div class="row align-items-start">
      <div class="col-lg text-center">
        {{#if this.model.profile.profile_image.name}}
        <img src="/game/uploads/{{this.model.profile.profile_image.path}}"
             alt="{{this.model.profile.name}}'s icon"
             class="dating-profile-image"
             title="{{this.model.profile.profile_image.description}}">
        {{else}}
        <img src="/game/uploads/theme_images/noicon.png" class="dating-profile-image" alt="{{this.model.profile.name}}'s icon" >
        {{/if}}
        <LinkTo @route="char" @model={{this.model.profile.name}} class="dating-profile-link">View Profile</LinkTo>
      </div>
      <div class="col-lg">
        <div class="dating-facts-box">
          {{#each this.model.profile.facts as |fact|}}
          <div class="row">
            <div class="col-xl-4">
              <b>{{fact.name}}</b>
            </div>
            <div class="col-xl-8">
              {{fact.value}}
            </div>
          </div>
          {{/each}}
        </div>
        <div class="dating-facts-profile">{{{ansi-format text=this.model.profile.dateprof}}}</div>
        <div class="dating-buttons">
          <button {{action "swipe" this.model.profile.name "interested"}} class="btn btn-secondary">Interested</button>
          <button {{action "swipe" this.model.profile.name "curious"}} class="btn btn-secondary">Curious</button>
          <button {{action "swipe" this.model.profile.name "skip"}} class="btn btn-secondary">Skip</button>
        </div>
      </div>
    </div>
    {{else}}
    <div class="jumbotron">
      <p>You have nobody left to swipe!</p>
    </div>
    {{/if}}
  </div>

  <div id="matches" class="tab-pane fade show {{unless this.model.profile 'active'}}">
    {{#each this.model.matches as |list|}}
    <h2>{{list.name}}</h2>
    <CharGroupList @name="" @chars={{list.characters}} />
    {{/each}}
  </div>

  <div id="swipes" class="tab-pane fade show">
    {{#each this.model.swipes as |list|}}
    <h2>{{list.name}}</h2>
    <CharGroupList @name="" @chars={{list.characters}} />
    {{/each}}
  </div>
</div>
