{{page-title 'The App - Match Summary'}}
<h1>The App - Match Summary</h1>
<div class="action-buttons">
  <button {{action "showOrHideAlts" "show"}} class="btn btn-secondary">Show Alts</button>
  <button {{action "showOrHideAlts" "hide"}} class="btn btn-secondary">Hide Alts</button>
</div>
{{#each this.model.alts as |alt|}}
<h2 class="dating-summary-alt-header">
  <span>{{alt.char.name}}</span>
  {{#if alt.hasUnswipedCharacters}}
  <svg xmlns="http://www.w3.org/2000/svg" class="dating-unswiped-icon" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
    <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.354a4 4 0 110 5.292M15 21H3v-1a6 6 0 0112 0v1zm0 0h6v-1a6 6 0 00-9-5.197M13 7a4 4 0 11-8 0 4 4 0 018 0z" />
  </svg>
  {{/if}}
</h2>
{{#each alt.matches as |m|}}
<h3>{{m.name}}</h3>
<ul class="dating-alts-match-list">
{{#each m.characters as |c|}}
  <li>
    <div>
      <LinkTo @route="char" @model={{c.name}}>
        {{#if c.icon}}
        <img alt="{{c.name}}'s icon" class="small-profile-icon" src="/game/uploads/{{c.icon}}">
        {{else}}
        <img alt="{{c.name}}'s icon" class="small-profile-icon" src="/game/uploads/theme_images/noicon.png">
        {{/if}}
      </LinkTo>
      <LinkTo @route="char" @model={{c.name}}>{{c.name}}</LinkTo>
    </div>
  </li>
{{/each}}
</ul>
{{/each}}
{{/each}}
